<section class="row">
  <article class="column">
    <h2>Bookmarks</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>url</th>
        <th>code</th>
      </tr>
      <tr>
        <th><%= @bookmark.id %></th>
        <th><%= @bookmark.url %></th>
        <th><%= link("#{@bookmark.code}", to: URI.parse("#{@bookmark.url}")) %></th>
      </tr>
      </table>
    </article>
  </section>
